{% extends "base.html" %}
    {% block extra_js %}
    <script src="{{url_for('static', filename='airports/airports.js')}}"></script>
    {% endblock %}

      {% block ready_js %}
      $("#delete_airport").select2();

      $("#delete_airport").on("change", function (e) {
        $.ajax({
          method: "DELETE",
          url: "{{url_for('airports')}}"+"/"+$(this).val(),
        }).done(function() {
          location.reload();
        });
      });

      $("#restore_airports").on("click", function(e){
        $.ajax({
          method: "POST",
          url: "{{url_for('airports')}}",
        }).done(function() {
          location.reload();
        });
      });

      vg.embed('#vis', url="{{url_for('map')}}", function(view, vega_spec) {
      });

      vg.embed('#vis1', url="{{url_for('histogram', network='network')}}", function(view, vega_spec) {
      $(".vega-params").hide();
      });
    {% endblock %}

    {% block content %}
    <div id="container"></div>
    <br>
    <br>
    <div id="vis"></div>


    <p><a href="{{url_for('route')}}">Route Planner</a></p>
    <select id="delete_airport">
      {% for code, data in airports.iteritems() %}
      <option value="{{data.code}}">{{data.code}} ({{data.name}})</option>
      {% endfor %}
    </select>

     <button id="restore_airports" type="button">Restore</button>
    <table id="tab_degree">
      <thead>
	<tr>
	  <td>Code</td><td>Degree Centrality</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in degrees.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <table id="tab_eigen">
      <thead>
	<tr>
	  <td>Code</td><td>Eigenvector Centrality</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in eigens.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <table id="tab_vulner">
      <thead>
	<tr>
	  <td>Code</td><td>Vulnerability</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in vulnerability.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <div id="vis1"></div>
{% endblock %}
