{% extends "base.html" %}

{% block extra_js %}
  <script src="{{url_for('static', filename='jquery-ui/jquery-ui.min.js')}}"></script>
  <script src="{{url_for('static', filename='svg-pan-zoom/dist/svg-pan-zoom.min.js')}}"></script>
  <script src="{{url_for('static', filename='airports/airports.js')}}"></script>
{% endblock %}

  {% block ready_js %}
   $(function() {
     $( "#tabs" ).tabs();
   });

    var refresh_map = function(a){
      if (a){
        var url="{{url_for('london_map')}}"+'/'+a;
      }
      else {
        var url="{{url_for('london_map')}}";
    }

    var url_forced="{{url_for('london_forced')}}";

    vg.embed('#vis', url=url, function(view, vega_spec) {
      $(".vega-params").hide();
      var panZoomTiger = svgPanZoom(".marks", {
       zoomEnabled: true,
       controlIconsEnabled: true,
       fit: true,
       center: true,
       })

    vg.embed('#vis1', url="{{url_for('histogram', network='underground')}}", function(view, vega_spec) {
      $(".vega-params").hide();
      });

    vg.embed('#vis2', url=url_forced, function(view, vega_spec) {
      $(".vega-params").hide();
    });

    function changeText() {
    $('#station_text').html($(".mark-text").text());
    }

    <!-- var text = document.getElementsByClassName('mark-text')[0] -->
    <!-- text.addEventListener("change", changeText, false); -->
    <!-- changeText(); -->
    });
    };

    refresh_map(null);

    $("#select_line").select2();
    $("#select_line").on("change", function (e) {
      refresh_map($(this).val());
    });
{% endblock %}

  {% block content %}
    <div id="container"></div>
    <br>
    <br>

    <div id="tabs">
      <ul>
	<li><a href="#tabs-1">Geographic Map</a></li>
	<li><a href="#tabs-2">Forced Layout</a></li>
      </ul>
      <div id="tabs-1">
	<div id="vis"></div>
      </div>
      <div id="tabs-2">
	<div id="vis2"></div>
      </div>
    </div>

    <select id="select_line">
      {% for line in lines %}
      <option value="{{line}}">{{line}}</option>
      {% endfor %}
    </select>

    <table id="tab_degree">
      <thead>
	<tr>
	  <td>Code</td><td>Degree Centrality</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in degrees.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <table id="tab_vulner">
      <thead>
	<tr>
	  <td>Code</td><td>Vulnerability</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in vulnerability.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <div id="vis1"></div>

{% endblock %}
