<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">

    <link href="{{url_for('static', filename='select2/dist/css/select2.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='airports/airports.css')}}" rel="stylesheet" type="text/css" />

    <script src="{{url_for('static', filename='jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='underscore/underscore.js')}}"></script>
    <script src="{{url_for('static', filename='backbone/backbone.js')}}"></script>
    <script src="{{url_for('static', filename='select2/dist/js/select2.min.js')}}"></script>

    <script src="http://vega.github.io/vega-editor/vendor/topojson.js" charset="utf-8"></script>
    <script src="http://vega.github.io/vega-editor/vendor/d3.min.js" charset="utf-8"></script>
    <script src="http://vega.github.io/vega-editor/vendor/d3.geo.projection.min.js" charset="utf-8"></script>
    <script src="http://vega.github.io/vega-editor/vendor/d3.layout.cloud.js" charset="utf-8"></script>
    <script src="http://vega.github.io/vega-editor/vendor/vega.js" charset="utf-8"></script>
    <!-- <script src="http://vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script> -->
    <script src="{{url_for('static', filename='vega-embed/vega-embed.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename='svg-pan-zoom/dist/svg-pan-zoom.min.js')}}"></script>

    <script src="{{url_for('static', filename='airports/airports.js')}}"></script>

  <script type="text/javascript">
    $(document).ready(function(){

    // var appView = new AppView();

    var refresh_map = function(a){
      if (a){
        var url="{{url_for('london_map')}}"+'/'+a;
      }
      else {
        var url="{{url_for('london_map')}}";
      }
    vg.embed('#vis', url=url, function(view, vega_spec) {
      var panZoomTiger = svgPanZoom(".marks", {
       zoomEnabled: true,
       controlIconsEnabled: true,
       fit: true,
       center: true,
       })

    vg.embed('#vis1', url="{{url_for('histogram', network='underground')}}", function(view, vega_spec) {
      $(".vega-params").hide();
      });

    function changeText() {
    $('#station_text').html($(".mark-text").text());
    }

    var text = document.getElementsByClassName('mark-text')[0]
    text.addEventListener("change", changeText, false);
    changeText();
    });
    };

    refresh_map(null);

    $("#select_line").select2();
    $("#select_line").on("change", function (e) {
      refresh_map($(this).val());
    });

    });
  </script>


  </head>
  <body>

    <div id="container"></div>
    <br>
    <br>
    <div id="vis"></div>

    <select id="select_line">
      {% for line in lines %}
      <option value="{{line}}">{{line}}</option>
      {% endfor %}
    </select>

    <table id="tab_degree">
      <thead>
	<tr>
	  <td>Code</td><td>Degree Centrality</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in degrees.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>


    <table id="tab_vulner">
      <thead>
	<tr>
	  <td>Code</td><td>Vulnerability</td>
	</tr>
      </thead>
      <tbody>
	{% for code, deg in vulnerability.iteritems() %}
	<tr>
	  <td>{{code}}</td><td>{{deg}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <div id="vis1"></div>


  </body>

</html>
