{% extends "base.html" %}

{% block extra_js %}
  <script src="{{url_for('static', filename='airports/airports.js')}}"></script>
{% endblock %}

{% block ready_js %}
    var src;
    var dst;

    var refresh_map = function(a, b){
    var url="{{url_for('map')}}";
    if (a && b){
    url = url+'/'+a+'/'+b;
    }
    vg.embed('#vis', url=url, function(view, vega_spec) {
    });
    };
    refresh_map(null, null);

    var update_route = function(a, b){
      refresh_map(a, b);
    };

    $("#src_airport").select2();
    $("#src_airport").on("change", function (e) {
       src = $(this).val()
       if (src && dst){
         update_route(src, dst);
       };
    });

    $("#dst_airport").select2();
    $("#dst_airport").on("change", function (e) {
    dst = $(this).val()
    if (src && dst){
      update_route(src, dst);
    }
    });
{% endblock %}

  {% block content %}
    <div id="container"></div>
    <br>
    <br>
    <div id="vis"></div>

    <select id="dst_airport">
      {% for code, name in airports.iteritems() %}
      <option value="{{code}}">{{code}} ({{name}})</option>
      {% endfor %}
    </select>

    <select id="src_airport">
      {% for code, name in airports.iteritems() %}
      <option value="{{code}}">{{code}} ({{name}})</option>
      {% endfor %}
    </select>

{% endblock %}
